* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;



}

/* LOGO + BANNER */

.sfondobanner {
    background-color: white;
    width: 240px 240px;
    height: 80px;
    padding: 20px 30px 40px;

}

/* BOX CENTRALE */

.boxcentralestretta {
    width: 1400px;
    height: 50px;
    padding: 18px 40px;
    margin: 45px 250px -4px;
    background-color: white;
    border-radius: 4px;

}
/* CONTENUTO BOX CENTRALE STRETTA */

.task {
    background-color: hsl(202, 85%, 48%);
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    display: inline;
    text-decoration:none;
    border:1px solid hsl(202, 85%, 48%);
    border-radius: 8px;
    padding: 8px;
   


}
.section {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    display: inline;
    text-decoration: none;
    border:1px solid rgb(223, 221, 221);
    border-radius: 8px;
    padding: 8px;
 
}

.boxcentrale {
    width: 1400px;
    height: 100px;
    padding: 300px 300px;
    margin:5px 250px;
    background-color: white;

    
}



/* SFONDO PAGINA TOTALE */
    body {
        background-color: rgb(235, 235, 235);
    }