* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

/* -LOGO + BANNER */


.sfondobanner {
    background-color: white;
    width: 240px 240px;
    height: 80px;
    padding: 15px 30px 40px;

}



/* (main) BOX CENTRALE */

main {
    margin: 3%;
}

.boxcentralestretta {
    width: 78%;
    padding: 16px;
    margin: 1px 160px;
    background-color: white;
    border-radius: 4px;

}

.contenutoboxstretta {
    margin: 1px 30px;
}


.distanzascritte {
    margin: 15px;
}

/* CONTENUTO BOX CENTRALE STRETTA */

.task {
    background-color: hsl(202, 85%, 48%);
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    display: inline;
    text-decoration: none;
    border: 1px solid hsl(202, 85%, 48%);
    border-radius: 8px;
    padding: 8px;


}

.addsection {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    display: inline;
    text-decoration: none;
    border: 1px solid rgb(223, 221, 221);
    border-radius: 8px;
    padding: 8px;
}

/* BOX CENTRALE GRANDE */

.boxcentrale {
    width: 78%;
    padding: 300px;
    margin: 2px 160px;
    background-color: white;



}


/* LISTE */

ul {
    list-style: none;
}

li {
    font-family: sans-serif;
}

/* FORME E COLORE */
.interalista {
    width:100%;
    margin: -270px -260px;
    
}


.formacerchioverde {
    border: 1px solid green;
    border-radius: 15px;
    padding: 0px 2px;
    margin: 5px;

}

.formacerchiorosso {
    border: 1px solid rgb(255, 0, 0);
    border-radius: 15px;
    padding: 0px 2px;
    margin: 5px;


}

.segnoverde {
    font-size: 10px;
    color: green;
    border: 1px solid green(255, 0, 0);
}

.segnorosso {
    font-size: 10px;
    color: red;
    border: 1px solid rgb(255, 0, 0);
}


.cerchioblu {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9px;
    border: 1px solid hsl(202, 85%, 48%);
    border-radius: 20px 20px 20px 20px;
    background-color: hwb(202 7% 11%);
    padding: 2px 12px;
    margin: 0;
    color: white;
}

.cerchioviola {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9px;
    border: 1px solid hsl(281, 93%, 27%);
    border-radius: 20px 20px 20px 20px;
    background-color: hsl(281, 93%, 27%);
    padding: 2px 12px;
    margin: 0;
    color: white;
}

.cerchioarancio {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9px;
    border: 1px solid hsl(30, 78%, 50%);
    border-radius: 20px 20px 20px 20px;
    background-color: hsl(30, 78%, 50%);
    padding: 2px 12px;
    margin: 0;
    color: white;
}

.cerchioverdeacqua {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9px;
    border: 1px solid hsl(167, 48%, 64%);
    border-radius: 20px 20px 20px 20px;
    background-color: hsl(167, 48%, 64%);
    padding: 2px 12px;
    margin: 0;
    color: white;
}

.cerchiofuxia {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9px;
    border: 1px solid hsl(318, 100%, 69%);
    border-radius: 20px 20px 20px 20px;
    background-color: hsl(318, 100%, 69%);
    padding: 2px 12px;
    margin: 0;
    color: white;
}

.cerchioverdeacido {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9px;
    border: 1px solid hsl(98, 77%, 38%);
    border-radius: 20px 20px 20px 20px;
    background-color:hsl(98, 77%, 38%);
    padding: 2px 12px;
    margin: 0;
    color: white;
}




/* SFONDO PAGINA TOTALE */
body {
    background-color: rgb(235, 235, 235);
    font-family: sans-serif;
}