* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

/* LOGO + BANNER */

.sfondobanner {
    background-color: white;
    width: 240px 240px;
    height: 80px;
    padding: 15px 40px 40px;

}

/* BOX CENTRALE */

.boxcentralestretta {
    width: 1400px;
    height: 50px;
    padding: 18px 40px;
    margin: 45px 250px -4px;
    background-color: white;
    border-radius: 4px;

}

/* CONTENUTO BOX CENTRALE STRETTA */

.task {
    background-color: hsl(202, 85%, 48%);
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    display: inline;
    text-decoration: none;
    border: 1px solid hsl(202, 85%, 48%);
    border-radius: 8px;
    padding: 8px;



}

.addsection {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    display: inline;
    text-decoration: none;
    border: 1px solid rgb(223, 221, 221);
    border-radius: 8px;
    padding: 8px;
}

.boxcentrale {
    width: 1400px;
    height: 100px;
    padding: 300px 300px;
    margin: 5px 250px;
    background-color: white;



}

/* LISTE */

ul {
    list-style: none;
}

li {
    font-family: sans-serif;
}

/* FORME E COLORE */
.interalista {
    margin: -280px -260px;
    padding: 5px;
}


.formacerchio1 {
    box-sizing: 1px;
    border: 1px solid green;
    border-radius: 15px;
    color: green;
}

.cerchioverde {
    color: green;
}

.formacerchio2 {
    box-sizing: 1px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 15px;
}

.cerchiorosso {
    color: red
}

.cerchioblu {
    border: 1px solid hsl(202, 85%, 48%);
    border-radius: 8px;
    background-color: hsl(202, 85%, 48%);
    padding: 3px;
}

.cerchioviola {
    border: 1px solid hsl(278, 75%, 57%);
    border-radius: 8px;
    background-color: hsl(278, 75%, 57%);
    padding: 3px;
}

.cerchioverdeacqua {
    border: 1px solid hsl(167, 48%, 64%);
    border-radius: 8px;
    background-color: hsl(167, 48%, 64%);
    padding: 3px;
}

.cerchioarancio {
    border: 1px solid hsl(27, 100%, 63%);
    border-radius: 8px;
    background-color: hsl(27, 100%, 63%);
    padding: 3px;
}

.cerchiofuxia {
    border: 1px solid hsl(318, 100%, 69%);
    border-radius: 8px;
    background-color: hsl(318, 100%, 69%);
    padding: 3px;
}

.cerchioverdeacido {
    border: 1px solid hsl(98, 100%, 73%);
    border-radius: 8px;
    background-color: hsl(98, 100%, 73%);
    padding: 3px;
}




/* SFONDO PAGINA TOTALE */
body {
    background-color: rgb(235, 235, 235);
    font-family: sans-serif;
}